* {
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
html {
    width: 100%;
}
body {
    width: 100%;
    position: relative;
}
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0) 0px 5px 25px;
    /*background-color: transparent;*/
    background-color: rgba(38, 0, 255, 0);
    overflow: hidden;
}
.header_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header_scrolled {
    transition: background-color 300ms ease-out, box-shadow 300ms ease-out;
    background-color: rgba(38, 0, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 25px;
}
.header_button {
    padding: 10px 20px;
    text-align: center;
} 
.header_button:hover {
    background-color: rgba(255, 255, 255, 0.1);
} 
.main {
    height: 100vh;
    width: 100vw;
    background-image: url("/bg.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main::before {
    content: " ";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.greeting {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 2rem;
    color: white;
    font-family: "Trebuchet MS";
    font-weight: 300;
}
.text_small {
    font-size: 1.5rem;
}
.text_offset-small {
    margin-top: 1rem;
}
.text_inverse {
    color: black;
}
.text_big {
    font-size: 5rem;
}
.text_center {
    text-align: center;
}
.main_left {
    width: 45%;
    display: block;
    padding: 50px;
    word-wrap: break-word;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.main_right {
    width: 40%;
    z-index: 1;
    display: flex;
    align-items: center;
}
.main_img {
    margin: auto;
    display: block;
    width: 100%;
    object-fit: contain;
    box-shadow: rgba(38, 0, 255, 0.5) 0px 0px 100px;
}

.about {
    height: 100vh;
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1450px) {
    .main {
        flex-direction: column;
        justify-content: space-around;
        padding-top: 2rem;
    }
    .main_left {
        flex: 1 0 33%;
        width: 100%;
        text-align: center;
    }
    .main_right {
        flex: 1 0 66%;
        margin-right: 0px;
        width: 100%;
    }
    .main_img {
        object-fit: fill;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 450px) {
    html {
        font-size: 8px;
    }
}