* {
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    display: flex;
    gap: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(38, 0, 255, 0.5);
    padding: 10px 0px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 25px;
}
.header_button {
    font-size: 1.3em;
    font-family: "Trebuchet MS";
    padding: 10px 20px;
    color: white;
} 
.header_button:hover {
    background-color: rgba(255, 255, 255, 0.1);
} 
.main {
    height: 100vh;
    width: 100vw;
    background-image: url("/bg.jpg");
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main_text {
    font-size: 5em;
    color: white;
    font-family: "Trebuchet MS";
    font-weight: 300;
}
.main_text_small {
    font-size: 2em;
}
.main_left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 300px;
    padding-left: 125px;
    width: 50%;
    z-index: 1;
}
.main_right {
    height: 50vh;
    width: 50%;
    margin-right: 100px;
    z-index: 1;
    background-image: url("/icpc_photo.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 155px;
}
.main::before {
    content: " ";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    z-index: 0;
}
.about {
    height: 100vh;
}